.home1{
    height: 70vh;
    background: linear-gradient(
        rgba(33,33,33,0.522),rgba(
            33,33,33,0.522)),url('../../im&ve/cta-banner-opt.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}
.home1 .secContainer .homeText{
    text-align: center;
}
.home1 .secContainer .homeText .title{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;

}
.home1 .secContainer .homeText .subTitle{
    color: #fff;
    font-size: 13px;
    font-weight: 300px;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.home1 .secContainer .homeText .btn-Home{
    padding: 0.6rem 1.5rem;
    width: 14rem;
    height: 3rem;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background:none;
    
}
.home1 .secContainer .homeText .btn-Home .Link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.home1 .secContainer .homeText .btn-Home:hover .Link{
    color: rgb(0, 0, 255);
}
.home1 .secContainer .homeText .btn-Home:hover{
    background-color: #fff;
    transition: 0.3s ease-in-out;
      transform: translateY(-3px);
      transform: scale(3px);
}

@media screen and (min-width:556px) {
.home1 .secContainer .homeText .title{
    font-size: 2.5rem;
}
.home1 .secContainer .homeText .title .subTitle{
    font-size: 20px;
}
}

@media screen and (min-width:720px) {
    .home1 .secContainer .homeText {
        padding: 1rem 10rem;
    }
    .home1 .secContainer .homeText .title {
        font-size: 2.7rem;
        margin: auto;
        line-height: 4rem
    }
    .home1 .secContainer .homeText .title .subTitle {
         width: 70%;
    }
    }